body {
  background-color: #fcefff;
  font-family: 'Poiret One', cursive;
  color:black;
  padding-top:120px;
  vertical-align: middle;
  text-align: center;
  font-size: large;
  line-height: 140%;
  display: none;
}


h1 {
  font-family: 'Sacramento', cursive;
  color:#4C105D;
  text-align: center;
}

h1.title:hover {
  opacity: 0.7;
}

.navbar {
  min-height: 80px;
  background-color: white; /* FFF8F0 */
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

.navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}

@media (min-width: 768px) {
.navbar-nav > li > a {
  /* (80px - line-height of 27px) / 2 = 26.5px */
  padding-top: 26.5px;
  padding-bottom: 26.5px;
  line-height: 27px;
}

.row-fluid {
    white-space: nowrap;
}

.carousel {
  overflow: hidden;

  .item img {
  height: 100%;
  height: auto;
  }
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;
 
  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
 
  -webkit-animation-duration:0.8s;
  -moz-animation-duration:0.8s;
  animation-duration:0.8s;
}

.fade-in.one {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
 
.fade-in.two {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay:1.2s;
  animation-delay: 1.2s;
}

.fade-in.three {
  -webkit-animation-delay: 1.6s;
  -moz-animation-delay: 1.6s;
  animation-delay: 1.6s;
}

.fade-in.four {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s;  
}

.fade-in.five {
  -webkit-animation-delay: 2.4s;
  -moz-animation-delay: 2.4s;
  animation-delay: 2.4s;
}

.fade-in.six {
  -webkit-animation-delay: 3.5s;
  -moz-animation-delay: 3.5s;
  animation-delay: 3.5s;
}

.fade-in.seven {
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  animation-delay: 4s;
}

.social {
  position: fixed; 
  bottom: 4%; 
  right: 2%;
  text-align: center;
}

.btn-round {
  border-radius: 50%;
  margin-bottom: 10%;
  background-color: white;
  transition: all 0.3s ease;
}

.btn-round.btn-lg {
  width: 48px;
  height: 48px;
}

body > div > div.social.fade-in.six.hidden-xs > a > i {
  color:#4C105D;
}

.resumeSection { 
  color:#4C105D;
  font-style: italic;
  font-weight: bold;
  font-size: 24px;
}

.contents {
  color:black;
  text-align: left;
}
